.get-credit-page {
    padding-top: 64px;
    padding-bottom: 80px;
}

.credit-registration {
    width: 635px;
    margin-right: 125px;
}

.page-block-title {
    text-transform: uppercase;
    color: #3DA163;
    font-family: SF Pro Display;
    font-weight: 500;
    font-size: 20px;
    line-height: 135%;
    font-style: normal;
}


.credit-registration-sliders {
    margin-top: 33px;
}

.gc-slider-range {
    &__name {
        color: #94959A;
        font-size: 13px;
        line-height: 135%;
    }

    &:not(:last-child) {
        margin-bottom: 48px;
    }


}

.gc-slider-range-info {
    display: flex;
    align-items: center;
    margin-top: 3px;

    &__value {
        flex-grow: 1;
        min-width: 96px;
        color: #000000;
        font-weight: 600;
        font-size: 20px;
        line-height: 135%;
    }

    &__expiration-date {
        display: flex;
        align-items: flex-end;
        flex-grow: 99999;
        margin-left: 8px;
        color: #000000;
        font-size: 13px;
        line-height: 1;

        &::before {
            display: block;
            width: 16px;
            height: 16px;
            margin-right: 8px;
            content: '';
            background: url(../img/calendar.svg) no-repeat center center;

        }
    }

    &__max {
        color: #000000;
        font-size: 13px;
        line-height: 135%;

        span {
            font-weight: bold;
        }
    }

    &__hint {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        margin-left: 8px;
        cursor: pointer;
        color: #0C3362;
        border-radius: 100px;
        background: #FFFCE1;
        font-size: 13px;
        line-height: 16px;
    }
}

.gc-slider__slider-range {
    margin-top: 23px;

    &.ui-widget.ui-widget-content {
        height: 7px;
        border: 0;
        border-radius: 100px;
        background: #E3E4EB;
    }

    &.ui-slider .ui-slider-range {
        border-radius: 7px;
        background: linear-gradient(90deg, #3DA163 calc(100% - 75px), #208A48 100%);
    }

    .ui-state-default,
    .ui-widget-content .ui-state-default {
        top: -7px;
        box-sizing: border-box;
        width: 35px;
        height: 21px;
        cursor: pointer;
        border: 0;
        border: 2px solid #4CB373;
        border-radius: 15px;
        background: #3DA163;

        &::before {
            z-index: 1;
            display: block;
            width: 13px;
            height: 9px;
            content: '';
            background: url(../img/slider-strips.svg) no-repeat center center;
            @include center-absolute();
        }
    }
}

.credit-registration-apply {
    margin-top: 71px;
    padding: 24px 63px 32px;
    background: #F1F2F7;
}

.cra-results {
    display: flex;
    justify-content: space-between;
    margin-top: 1px;
    padding-bottom: 18px;
    border-bottom: 1px solid #E3E4EB;
}

.cra-results-item {
    &__name {
        color: #000000;
        font-size: 13px;
        line-height: 135%;
    }

    &__val {
        margin-top: 1px;
        color: #3DA163;
        font-weight: 600;
        font-size: 20px;
        line-height: 135%;
    }
}

.cra-bottom {
    display: flex;
    margin-top: 49px;
    margin-top: 24px;

    &__left {
        margin-right: 48px;
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;

        a {
            display: block;
            margin-top: 5px;
            color: #0C3362;
            font-size: 13px;
            line-height: 150%;

            &:hover {}

            &:active {}

            &:focus {}
        }
    }




}

.cra-apply-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 163px;
    height: 51px;
    color: #FFFFFF;
    background: #3DA163;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}







.my-achievements {
    width: 350px;
}



.page-block-title {}

.my-achievements-slider-container {
    margin-top: 31px;
    padding: 48px 28px 48px;
    background: #F1F2F7;

}

.my-achievements-slider {
    position: relative;

    &__slide {
        display: block;

        p {}

        &:hover {}

        &:active {}

        &:focus {}
    }
}

.my-achievements-slider-arrow {
    position: absolute;
    z-index: 1;
    top: 86.5px;
    cursor: pointer;

    &.slick-disabled {
        display: none !important;
    }
}

.mas-arrow-prev {
    left: 0;
}

.mas-arrow-next {
    right: 0;
}

.achivement {


    &__name {
        margin-top: 12px;
        text-align: center;
        color: #3DA163;
        font-weight: 500;
        font-size: 20px;
        line-height: 135%;
        font-style: normal;
    }
}

.achivement-indicator-CW {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.achivement-indicator-container {}

.achivement-indicator__picture {
    width: 100%;
    max-width: 35%;
    @include center-absolute();
}

.achicement-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;

    &__main {
        display: block;
        margin: 0 auto;
        margin-top: 16px;
        text-align: left;
        color: #000000;
        font-size: 15px;
        line-height: 135%;

        span {
            font-weight: bold;
        }

        p {
            margin-bottom: 5px;
        }
    }



    &__small-grey {
        width: 199px;
        max-width: 100%;
        margin-top: 15px;
        text-align: center;
        color: #94959A;
        font-size: 13px;
        line-height: 135%;
    }
}

@media screen and (max-width:1440px) {
    .get-credit-page {
        padding-top: 24px;
        padding-bottom: 80px;

        .container.flex-row {
            display: block;
        }
    }

    .credit-registration {
        width: 100%;
        margin-top: 42px;
        margin-right: 0;
    }

    .credit-registration-sliders {
        margin-right: 55px;
    }

    .gc-slider-range:not(:last-child) {
        margin-bottom: 40px;
    }

    .credit-registration-apply {
        margin-top: 55px;
        padding: 25px 63px 32px;
    }

    .cra-results {
        margin-right: 56px;
        padding-bottom: 17px;
    }

    .my-achievements {
        width: 100%;
        margin-top: 66px;
        margin-right: 0;
    }

    .achicement-info {
        display: none;
    }

    .achivement-indicator__picture {
        max-width: 31%;
    }

    .my-achievements-slider-arrow {
        top: 47.5px;
    }

    .mas-arrow-prev {
        left: -4px;
    }

    .mas-arrow-next {
        right: -4px;
    }
}

@media screen and (max-width: 1023px) {
    .get-credit-page {
        padding-top: 65px;
    }

    .main {
        padding-left: 0;
    }

    .credit-registration {
        margin-top: 0;
    }

    .cra-results {
        margin-right: 29px;
        margin-left: 26px;
        padding-bottom: 18px;

    }

    .cra-bottom {
        padding-left: 26px;

        &__right a {
            margin-top: 3px;
        }
    }
}

@media screen and (max-width:767px) {
    .get-credit-page {
        padding-top: 50px;
    }

    .credit-registration-sliders {
        margin-top: 25px;
        margin-right: 0px;
    }

    .gc-slider-range:not(:last-child) {
        margin-bottom: 32px;
    }

    .gc-slider-range-info__expiration-date {
        font-size: 13px;
    }

    .credit-registration-apply {
        margin-top: 47px;
        padding: 25px 25px 32px;
    }

    .cra-results {
        margin: 0;
    }

    .cra-bottom {
        padding-left: 0;
    }

    .my-achievements {
        width: 100%;
        margin-top: 50px;
    }

    .my-achievements-slider-container {
        margin-top: 24px;
    }

    .my-achievements-slider-container {
        padding: 48px 49px 48px;
    }


    .mas-arrow-prev {
        left: -25px;
    }

    .mas-arrow-next {
        right: -25px;
    }

    .my-achievements-slider-arrow {
        top: 46.5px;
    }
}

@media screen and (max-width: 639px) {
    .get-credit-page {
        padding-top: 42px;
    }

    .gc-slider-range-info {
        flex-wrap: wrap;
    }

    .gc-slider-range-info__expiration-date {
        order: 99;
        width: 100%;
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: 0;
    }

    .credit-registration-apply {
        margin-top: 39px;

        padding: 25px 32px 32px;
    }

    .cra-results {
        flex-wrap: wrap;
        padding-bottom: 17px;
    }

    .cra-results-item {
        width: 50%;

        &:not(:nth-child(1)):not(:nth-child(2)) {
            margin-top: 28px;
        }
    }

    .cra-bottom {
        flex-direction: column-reverse;
        margin-top: 17px;
    }

    .cra-bottom__right a {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .cra-bottom__left {
        margin-right: 0;
    }

    .cra-apply-btn {
        width: 100%;
        margin-top: 29px;
    }

    .my-achievements {

        margin-top: 42px;
    }

    .my-achievements-slider-container {
        padding: 23px 42px 25px;
    }

    .achivement-indicator__picture {
        max-width: 75px;
    }

    .my-achievements-slider-arrow {
        top: 57.5px;
    }

    .mas-arrow-prev {
        left: -26px;
    }
    .mas-arrow-next {
        right: -26px;
    }
}
