$font1: "SF Pro Display", sans-serif;

$green: #3DA163;
$gray: #9DAFC3;
$blue: #0C3362;
$white: #ffffff;

a{
	text-decoration: none;
}

*:focus{
	outline: none;
}

body{
	color: #3b3b3b;
	font-family: $font1;
	font-size: 16px;
	margin: 0;
	background: #ffffff;
}

.container{
	margin: 0 auto;
	box-sizing: border-box;
}

