.main {
  .form-col {
    width: 540px;
    margin-right: 220px;
  }

  .profile-info-col {
    width: 350px;
    background: #F1F2F7;

    .profile-menu {
      margin-top: 25px;

      a {
        position: relative;
        z-index: 0;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        min-height: 48px;
        padding: 0 32px;
        transition-duration: .2s;
        color: #0C3362;
        font-size: 15px;
        line-height: 130%;

        &:not(:first-child) {
          min-height: 47px;
          border-bottom: 1px solid #E3E4EB;
        }

        &:hover {
          position: relative;
          color: #ffffff;
          background: #3DA163;

          &::after {
            background: url(../img/arr-l-w.svg) no-repeat center center;
            background-size: contain;
          }
        }

        &::after {
          position: absolute;
          z-index: -1;
          top: 50%;
          right: 24px;
          display: block;
          width: 6px;
          height: 11px;
          content: '';
          transform: translateY(-50%);
          background: url(../img/arr-l.svg) no-repeat center center;
          background-size: contain;
        }
      }
    }
  }

  .profile-info {}

  .profile-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 45px;

    img {
      width: 100px;
      height: 100px;
      border: 3px solid #E3E4EB;
      border-radius: 50%;
      object-fit: cover;
      object-position: center center;
    }
  }

  .profile-name {
    margin-top: 14px;
    padding: 0 30px;
    /* or 27px */
    text-align: center;
    text-transform: capitalize;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    line-height: 135%;
  }



  .profile-complete {
    padding: 48px 47px 60px 32px;
    color: #000000;
    font-size: 15px;
    line-height: 18px;

    .label {}

    .progress-bar-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 16px;
    }

    .progress-bar {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      box-sizing: border-box;
      width: 100%;
      width: 224px;
      height: 12px;
      padding: 0 1px;
      border-radius: 1px;
      background: #E3E4EB;

      .complete-bar {
        position: relative;
        display: flex;
        align-items: center;
        height: 10px;
        transition-duration: .3s;
        border-radius: 1px;
        background: #3DA163;
      }
    }

    .progress-bar-value {
      /* green */
      color: #3DA163;
      font-weight: bold;
      font-size: 15px;
      line-height: 18px;
    }

    .credit-chance {
      margin-top: 20px;

      .status.green {
        color: #3DA163;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
      }

      .text {
        margin-top: 3px;
      }
    }
  }
}

@media screen and (min-width:1501px) {
  .main .profile-info-col .profile-menu {


    .active {
      position: relative;
      color: #ffffff;
      background: #3DA163;

      &::after {
        background: url(../img/arr-l-w.svg) no-repeat center center;
        background-size: contain;
      }

      &:hover {}

      &:active {}

      &:focus {}
    }

    .active {
      pointer-events: none;

      &::before {
        position: absolute;
        z-index: -1;
        top: 0;
        left: -7px;
        display: block;
        width: 7px;
        height: 100%;
        content: '';
        transition-duration: .2s;
        background: url(../img/triangle-left-a-green.svg) no-repeat center center;
        background-size: cover;
        font-family: SF Pro Display;
      }
    }
  }
}

.profile-page {
  margin-top: 64px;
  padding-bottom: 100px;
}

.passport-photo-row {
  margin-top: 31px;
  margin-bottom: 32px;

  >div:not(.input-block-title) {
    display: flex;
    align-items: center;
    margin-top: 14px;

    .photo-display {}

    span {
      width: 310px;
      max-width: calc(100% - 24px);
      margin-left: 24px;
      color: #000000;
      font-weight: 500;
      font-size: 13px;
      line-height: 135%;
    }
  }
}

.input-container {
  flex: 1 0 150px;
  margin-right: 30px;
  max-width: calc(100% - 30px);

  .input-block-title {
    margin-top: 25px;
    margin-bottom: -12px;
    margin-left: 30px;
  }
}

.section-title+.input-row {
  &>.input-container>.input-block-title {
    margin-top: 33px;
    margin-bottom: -12px;
    margin-left: 30px;
  }

  &+.input-row>.input-container>.input-block-title {
    margin-top: 33px;
  }
}

.input-block-title {
  width: 100%;
  color: #94959A;
  font-size: 15px;
  line-height: 18px;

}




.crz-label {
  margin-top: 40px;
  margin-bottom: -13px;
  color: #000000;
  font-weight: 500;
  font-size: 15px;
  line-height: 135%;
  font-style: normal;

}

.contact-num-label {
  margin-top: 40px;
  margin-bottom: 11px;
  color: #3DA163;
  font-size: 15px;
  line-height: 135%;
}

.btn-submit-prof {
  min-width: 209px;

}

.submit-block {
  display: flex;
  align-items: center;
  margin-top: 80px;
  margin-left: 4px;

  .btn.btn-submit-prof.hovco {
    &:hover {}

    &:active {}

    &:focus {}
  }

  &__log {
    display: none;
  }

  &.incorrect {
    .btn-submit-prof {
      margin-right: 24px;
      pointer-events: none;
      background: #BABBC0;
    }

    .submit-block__log {
      display: flex;
      align-items: center;
      color: #EB5757;
      font-weight: normal;
      font-size: 15px;
      line-height: 135%;
      font-style: normal;
    }
  }
}


.change-pass-popup {
  display: none;
  padding: 0;

  &__title {
    display: flex;
    align-items: center;
    padding: 28px 65px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #0C3362;
    font-weight: 500;
    font-size: 20px;
    line-height: 135%;
  }

  &__inputs {
    width: 540px;
    padding-top: 48px;
    padding-right: 160px;
    padding-bottom: 48px;
    padding-left: 65px;
    cursor: auto;

    .input-row {
      .input-block {}

      input {}

      .toggle-pass-vis {}
    }


  }
}

.fancybox-slide--html .fancybox-close-small {
  top: 4 px;
  right: 6px;
  box-sizing: content-box;
  width: 42px;
  height: 42px;
  padding: 0px;
  opacity: 1;

  svg {
    width: 100%;
    height: 100%;

    path {
      fill: #ffffff;
    }
  }

  &:hover {
    opacity: .8;

  }
}

.btn-submit-change-pswd {
  margin-top: 48px;
  padding: 0 45px;
}

.toggle-pass-vis {
  position: absolute;
  top: 15px;
  right: 16px;
  display: block;
  width: 22px;
  height: 18px;
  background: url(../img/show-pass.svg) no-repeat center center;

  &.toggled {
    background: url(../img/show-pass-no.svg) no-repeat center center;
  }
}

@media screen and (max-width:1500px) {
  .sidebar {
    width: 257px;
  }

  .profile-page {

    .main .form-col,
    .main .profile-info-col {
      width: 610px;

    }

    .container.flex-row {
      flex-direction: column-reverse;
    }
  }

  .profile-info-col-wrap {
    position: relative;
    display: flex;
    align-items: center;


  }

  .main .profile-info-col {
    //transition: width .2s;
    z-index: 100;

    .profile-info {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      width: 290px;
      padding: 6px 10px 6px 23px;
      cursor: pointer;

      .profile-avatar {
        padding-top: 0;

        img {
          width: 64px;
          min-width: 64px;
          height: 64px;
          border: 2px solid #e3e4eb;
        }
      }

      .profile-name {
        position: relative;
        margin-top: 0;
        padding-right: 30px;
        padding-left: 17px;
        font-weight: 500;
        font-size: 15px;
        line-height: 135%;

        &::after {
          position: absolute;
          top: 50%;
          right: 3px;
          display: block;
          width: 13px;
          height: 9px;
          content: '';
          transition: transform .2s;
          transform: translateY(-50%);
          background: url(../img/arrow-bold-top.svg) no-repeat center center;
          background-size: contain;
        }
      }

      &.menu-open {

        .profile-name {
          &::after {
            transform: translateY(-50%) rotate(180deg);
          }
        }

      }
    }

    &:not(.fixed) {
      .profile-info.menu-open {
        padding: 5px 9px 5px 22px;
        padding-bottom: 6px;
        border: 1px solid #E3E4EB;
        border-bottom: 0;

      }

      .profile-menu {
        border: 1px solid #E3E4EB;
      }
    }

    .profile-menu {
      position: absolute;
      top: 100%;
      display: none;
      box-sizing: border-box;
      width: 290px;
      margin-top: 0;
      padding-top: 20px;
      border-top: 0;
      background: #F1F2F7;

      a {
        padding: 10px 30px;
        border-bottom: 1px solid #E3E4EB;

        &:last-child {
          border-bottom: 0;
        }

        &:hover {}

        &:active {}

        &:focus {}

        &::after {
          right: 15px;
        }
      }
    }

    .profile-complete {
      padding: 0;
      padding-top: 3px;
      padding-left: 87px;

      .label,
      .credit-chance {
        display: none;
      }

      .progress-bar-container {
        margin-top: 0;

        .progress-bar {
          width: 160px;
        }

        .progress-bar-value {
          margin-left: 16px;
        }

        .complete-bar {}
      }

      .credit-chance {
        .status.green {}

        .text {}
      }
    }


  }

  .info-block {
    margin-top: 32px;

  }
}

@media screen and (max-width:1500px) {
  #pic-fix.fixed {
    position: fixed;
    top: 0;
    left: 257px;
    width: calc(100vw - 257px);

    .profile-info-col-wrap {
      width: 610px;
      margin: 0 auto;
      padding-right: 96px;
    }

    .profile-info {
      padding-left: 0;
    }

    .profile-complete {
      padding: 0;
      padding-top: 3px;
      padding-left: 108px;
    }
  }
}

@media screen and (min-width:1024px) {
  .mobile-profile-info-col {
    display: none;
  }
}

@media screen and (max-width:1023px) {
  .profile-info-col {
    display: none;
  }

  .mobile-profile-info-col {
    position: fixed;
    z-index: 1001;
    top: 0;
    right: 0;
    display: block;
  }

  .mpic-top {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 155px;
    height: 64px;
    padding-left: 14px;
    cursor: pointer;
    background: #0C3362;

    .mpic-arrow {
      margin-right: 16px;

      &,
      * {
        transition-duration: .2s;
      }
    }

    &__pic {
      line-height: 0;

      img {
        box-sizing: border-box;
        width: 48px;
        height: 48px;
        border: 1px solid #E3E4EB;
        border-radius: 50%;
      }
    }

    &.menu-open {
      background: #F1F2F7;

      .mpic-arrow {
        transform: rotate(180deg);

        * {
          //stroke: #0C3362 !important;
          fill: #0C3362 !important;
        }
      }

    }
  }

  .mpic-bottom {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    box-sizing: border-box;
    width: 380px;
    padding: 31px 89px 8px 18px;
    background: #F1F2F7;


    .profile-complete {
      padding: 0;
      padding-bottom: 28px;
      border-bottom: 1px solid #E3E4EB;
      line-height: 48px;
    }


    .label {
      margin-top: 25px;
      color: #000000;
      font-size: 15px;
      line-height: 18px;
    }

    .progress-bar-container {
      .progress-bar {
        margin-right: 16px;
      }

      .progress-bar-value {}

      .complete-bar {}
    }

    .credit-chance {
      .status {
        color: #3DA163;
        font-size: 20px;
        line-height: 24px;
      }

      .text {
        color: #000000;
        font-size: 15px;
        line-height: 18px;

      }
    }
  }

  .mpic-user-name {
    text-transform: capitalize;
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    line-height: 135%;
  }

  .mpic-b-change-pass-ref {
    position: relative;
    display: flex;
    align-items: center;
    transition: opacity .2s;
    color: #0C3362;
    font-weight: 500;
    font-size: 15px;
    line-height: 49px;

    &::after {
      position: absolute;
      top: 50%;
      right: 14px;
      display: block;
      width: 6px;
      height: 11px;
      content: '';
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      background: url(../img/arr-l.svg) no-repeat center center;
      background-size: contain;
    }

    &:hover {
      opacity: .8;
    }
  }
}

@media screen and (max-width: 767px) {

  .change-pass-popup__inputs {
    width: 510px;
    padding-right: 130px;
  }

  .section-title {
    margin-bottom: 26px;
  }

  .form-style .form-section+.form-section {
    margin-top: 56px;
  }

  .radio-toggle {
    margin-bottom: 33px;
    padding-top: 0px;
  }

  .input-row .input-block--series {
    flex: 1 0 0px;
    width: unset;
  }

  .input-row .input-block--number {
    flex: 1 0 179px;
  }

  #form-section-4 {
    .section-title {
      margin-bottom: 32px;
    }
  }

  .crz-label {
    margin-top: 32px;
  }

  .contact-num-label {
    margin-top: 32px;
  }

  .checkbox-block {
    margin-top: 31px;

    &+.checkbox-block {
      margin-top: 26px;
    }
  }

  .checkbox-block .checkbox span {
    line-height: 1.3;
  }

  .submit-block {
    margin-top: 61px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 639px) {
  .mpic-top {
    width: 97px;

    .mpic-arrow {
      margin-right: 9px;
    }
  }

  .mpic-bottom {
    padding: 31px 15px 8px;
    width: calc(100vw - 15px);
    box-sizing: border-box;

    .profile-complete,
    .mpic-b-change-pass-ref {

      width: 271px;
      max-width: 100%;
    }

  }

  .change-pass-popup__inputs {
    width: 285px;
    max-width: 100%;
    margin: 0 auto;
    padding: 32px 10px 32px;
  }

  .change-pass-popup {

    width: 345px;
    max-width: 100%;
  }

  .change-pass-popup__title {
    padding: 23px 30px;

  }


  .profile-page  .info-block {
    width: calc(100% + 7.82vw * 2);
    margin-left: -7.82vw;
    padding-bottom: 18px;

    .text {
      line-height: 1.4;
    }
  }

  .form-col form {
    margin-top: 24px;
  }

  .form-style .form-section+.form-section {
    margin-top: 50px;
  }

  .radio-toggle {
    position: relative;
    display: block;
    margin-bottom: 29px;

    padding-right: 90px;

    .toggle-label {
      display: block;

      &:not(:last-child) {
        margin-top: -2px;
        margin-bottom: 11px;
      }
    }

    .toggle-block {
      top: calc(50% + 10px);
      right: 27px;
      width: 48px;
      min-width: 48px;
      height: 24px;
      min-height: 24px;
      transform: rotate(90deg) translateX(-50%);
      position: absolute;
    }
  }

  .input-row .input-block--series {

    flex: 1 0 60%;
  }

  .passport-photo-row {
    margin-bottom: 29px;
  }

  .photo-display {
    width: 149px;
    height: 128px;
  }

  .passport-photo-row>div:not(.input-block-title) {
    display: block;

    span {
      margin-left: 0;
      display: block;
      padding-top: 15px;
      width: 100%;
      max-width: 100%;

    }
  }

  #form-section-3 {

    margin-top: 24px;
  }

  #form-section-4 {
    .section-title {
      margin-bottom: 24px;

    }
  }

  .input-row--two-items-on-mobile {
    margin-left: -15px;
    margin-top: -24px !important;

    .input-block {
      flex-basis: unset;
      width: 100%;
      max-width: calc(50% - 15px);
      margin-left: 15px;
    }
  }

  .checkbox-block {
    margin-top: 35px;

    .checkbox span {
      line-height: 1.1;
      padding-top: 0px;
    }
  }

  #form-section-5 {
    margin-top: 43px;

    .input-row:nth-child(4),
    .input-row:nth-child(5) {
      margin-top: 8px;
    }
  }

  #form-section-6 {

    margin-top: 57px;
  }

  .submit-block {
    margin-top: 70px;
    display: block;
  }

  .btn-submit-prof {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .submit-block.incorrect .submit-block__log {
    text-align: center;
    margin-top: 5px;
  }

  .profile-page {
    padding-bottom: 18px;
  }
}

@media screen and (max-width: 385px) {
  .info-block {
    width: 100%;
    margin-left: 0;
    padding-bottom: 18px;
  }
}
